<h1><%= current_user.name %></h1>
<div>Messages</div>
<ul id="message-list-1"></ul>
<button id="post-btn-1">Post message to first room</button>

<div>--------------------------------------------------</div>

<div>Messages</div>
<ul id="message-list-2"></ul>
<button id="post-btn-2">Post message ot second room</button>

<div>--------------------------------------------------</div>

<div>Notifications</div>
<ul id="notification-list"></ul>

